@use '../base/variables' as vars;

.contacto,
.contacto-clean {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  gap: 60px;
  padding: 80px 100px;
  background-color: #fafafa;
}

.contacto-info,
.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 60px;
  justify-content: center;
  animation: slideUpFade 0.9s ease forwards;
}

.contacto-info h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.contacto-info p {
  font-size: 17px;
  line-height: 1.7;
  max-width: 400px;
}

.contacto-imagen {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomFade 1.2s ease forwards;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.05));
  }
}

@keyframes zoomFade {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contacto-form input:focus,
.contacto-form textarea:focus {
  outline: none;
  border-color: vars.$color-principal;
  box-shadow: 0 0 0 2px rgba(47, 92, 105, 0.15);
  transition: all 0.3s ease;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;

  input, textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}
