@use '../base/variables' as vars;

footer {
  background-color: vars.$color-principal;
  color: vars.$blanco;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
footer {
  text-align: center;
  padding: 2rem;
  background-color: #222;
  color: #fff;
}
